@use "~@easy-editor/styles";
.dropdown-disabled{
  .easy-editor-dropdown{
    cursor: not-allowed;
    color: styles.$not-allow;
  }
}
.easy-editor-dropdown {
  display: flex;
  flex:1;
  &__inner{

  }
  &__icon{
    transition: all .3s;
    &__open{
      transform: rotate(180deg);
    }
  }
}

.easy-editor-dropdown__content{
  display: flex;
  flex-direction: column;
  .easy-editor-dropdown__content__item__disabled.easy-editor-dropdown__content__item{
    cursor: not-allowed;
    opacity: 0.3;
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0 8px;
    transition: all .3s;
    &:hover{
      background: styles.$hover-grey;
    }
    &:not(:last-child){
      margin-bottom: 8px;
    }
  }
}
