.kms-textarea-link-view{
  display: flex;
  justify-content: space-between;
  width: 300px;
  .link{
    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .icon{
    cursor: pointer;
    transition: all .3s;
  }
  .remove_icon.icon{
    &:hover{
      color: red;
    }
  }
  .edit_icon.icon{
    &:hover{
      color: #0082fc;
    }
  }
  .link_editor{
    width: 100%;
    .btn_wrapper{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
