@use "~@easy-editor/styles";
.easy-editor-table{
  &-column-resizer{
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: -1px;
    bottom: -1px;
    width: 2px;
    pointer-events: none;
    background-color: styles.$primary-color;
  }
}
