@use "~@easy-editor/styles" as styles;

.easy-editor-code-block {
  position: relative;
  display: block;
  border: 1px solid styles.$border-color;
  box-sizing: border-box;
  background: #f5f6f8;
  border-radius: 4px;
  overflow: hidden;

  &__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 6px 0 10px;
    font-size: 13px;
    line-height: 18px;
    user-select: none;

    button {
      flex-shrink: 0;
    }
  }

  &__content {
    pre {
      margin: 0;
      border-radius: 0 !important;

      code {
        padding: 23px 16px !important;
      }
    }
  }
  &__button_area{
    display: inline-flex;
    &__button {
      float: right;
      position: relative;
      background-color: transparent;
      border: 0;
      outline: 0;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      border-radius: 4px;
      padding: 0 4px;
      margin-right: 9px;
      color: #909aaa;
      font-size: inherit;
      font-weight: normal;
      line-height: inherit;

      &:last-child {
        margin-right: 0;
      }

      &--active,
      &:hover {
        color: styles.$primary-color
      }

      &:active {
        //  background-color: @theme-bg-color;
      }

      & > svg {
        margin-right: 4px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -4px;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        height: 16px;
        background-color: styles.$border-color;
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  pre code/* 全局代码块样式 */
  .hljs {
    background: #282c34; /* 深色背景 */
    color: #abb2bf; /* 默认字体颜色 */
    padding: 16px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.6;
    overflow-x: auto;
  }

  /* 代码内联样式 */
  code.hljs {
    padding: 3px 5px;
    background: rgba(110, 118, 129, 0.4);
    border-radius: 4px;
    font-size: 13px;
    color: #e6edf3;
  }

  /* 关键字（如 function、return） */
  .hljs-keyword {
    color: #c678dd;
    font-weight: bold;
  }

  /* 变量名、函数名 */
  .hljs-title,
  .hljs-title.function_ {
    color: #61afef;
  }

  /* 变量 */
  .hljs-variable,
  .hljs-attr {
    color: #e06c75;
  }

  /* 字符串 */
  .hljs-string {
    color: #98c379;
  }

  /* 数字 */
  .hljs-number {
    color: #d19a66;
  }

  /* 注释 */
  .hljs-comment {
    color: #5c6370;
    font-style: italic;
  }

  /* 操作符（=、+、-） */
  .hljs-operator {
    color: #56b6c2;
  }

  /* 关键字（如 true、false、null） */
  .hljs-literal {
    color: #56b6c2;
  }

  /* 代码中的标签（HTML / JSX / XML） */
  .hljs-tag {
    color: #e06c75;
  }

  /* 代码中的属性名 */
  .hljs-attribute {
    color: #d19a66;
  }

  /* 方法名 */
  .hljs-function {
    color: #61afef;
  }

  /* 类名 */
  .hljs-class {
    color: #e5c07b;
  }

  /* CSS / JSON 的属性 */
  .hljs-selector-class,
  .hljs-selector-id {
    color: #e06c75;
  }

  /* CSS 选择器 */
  .hljs-selector-tag {
    color: #c678dd;
  }

  /* 终端 shell 命令的 $ 符号 */
  .hljs-meta {
    color: #d19a66;
  }

  /* Python / JS / TS 装饰器 */
  .hljs-decorator {
    color: #e5c07b;
  }

  /* 代码块阴影 */
  pre {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  /* 滚动条样式 */
  pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  pre::-webkit-scrollbar-thumb {
    background: #4b5362;
    border-radius: 3px;
  }

  .hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string {
    color: #50a14f;
  }

}
.easy-editor-code-block__dropdown {
  .easy-editor-dropdown-menu__item--active{
    color: styles.$primary-color;
  }
  .easy-editor-dropdown-menu__item {
    clear: both;
    margin: 0;
    padding: 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: styles.$primary-color;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  .easy-editor-dropdown-menu__content {
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  &-search {
    flex-shrink: 0;
    display: block;
    padding: 0 8px 8px;
  }

  &-input {
    position: relative;
    .icon{
      cursor: pointer;
    }
    input {
      min-width: 0;
      outline: none;
      transition: none;
      width: 100%;
      box-sizing: border-box;
      background: inherit;
      color: inherit;
      font-size: 14px;
      line-height: 18px;
      //font-family: @text-font-family;
      padding: 4px 32px 4px 8px;
      margin: 0;
      border-radius: 4px;
      border: 1px solid styles.$border-color;
      box-shadow: none;

      &:focus {
        border-color: styles.$primary-color;
        box-shadow: 0 0 0 1px styles.$primary-color;
      }

      &::placeholder {
        color: #909aaa;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      font-size: 16px;
      color: #909aaa;
    }
  }

  &-list {
    min-height: 0;
    overflow-y: auto;
  }
}

.easy-editor-code-block__dropdown-trigger {
  flex-shrink: 0;
  margin: 0 8px 0 0;
  font-size: inherit;
  line-height: inherit;

  > svg {
    margin-left: 8px;
    font-size: 0.85em;
    color: #909aaa;
  }
}
