@use "~@easy-editor/styles";
.kms-tb-table-picker {
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  .table-content {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 0;
  }

  .table-row {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;

    &:last-child {
      .table-cell {
        border-bottom-width: 1px;
      }
    }
  }

  .table-cell {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    border: 1px solid styles.$border-grey;
    border-right-width: 0;
    border-bottom-width: 0;

    &.active {
      background: #e6f7f6;
    }

    &:last-child {
      border-right-width: 1px;
    }
  }

  .table-label {
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
  }
}
