$border-color:#dadee3;
$primary-color: #0082fc;
$primary-black:#222e4d;
$primary-white: #fff;
$primary-green:#00c82a;
$primary-red:#ff3d23;
$primary-yellow:#faad14;
$not-allow:#C1C7D0;
$hover-grey:#f4f4f4;
$background-grey:#f5f6f7;
$border-grey:#e9e9e9;
