@use "~@easy-editor/styles";
.dropdown-disabled{
  .easy-editor-dropdown{
    cursor: not-allowed;
    color: styles.$not-allow;
  }
}
.easy-editor-dropdown {
  display: flex;
  flex:1;
  .easy-editor-toolbar__item{
    flex: 1;
  }
  &__icon{
    transition: all .3s;
    &__open{
      transform: rotate(180deg);
    }
  }
}
