@use "~@easy-editor/styles";
.toolbar-color-btn{
  position: relative;
  &__color{
    position: absolute;
    width: 100%;
    background: styles.$primary-black;
    height: 5px;
    bottom: -2px;
  }
}
.easy-editor-color-picker{
  &__title{
    font-size: 12px;
  }
  &__color_row{
    display: flex;
    align-items: center;
    margin: 8px 0;
    .color-item{
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      transition: all .3s;
      cursor: pointer;
      box-sizing: border-box;
      &:hover{
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
      }
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }
}
