@use "~@easy-editor/styles";
.easy-editor-align-popup{
  padding: 12px;
  &__item{
    display: flex;
    align-items: center;
    padding: 0 10px;
    line-height: 32px;
    cursor: pointer;
    &__icon{
      margin-right: 10px;
    }
    &:not(:last-child){
      margin-bottom: 6px;
    }
    &:hover{
      background: styles.$hover-grey;
    }
  }
}
