.easy-editor-image-container {
  position: relative;
  display: inline-block;

  .easy-editor-image__resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: blue;

    &.top-left {
      top: -5px;
      left: -5px;
      cursor: nwse-resize;
    }

    &.top-right {
      top: -5px;
      right: -5px;
      cursor: nesw-resize;
    }

    &.bottom-left {
      bottom: -5px;
      left: -5px;
      cursor: nesw-resize;
    }

    &.bottom-right {
      bottom: -5px;
      right: -5px;
      cursor: nwse-resize;
    }
  }
}
