@use "~@easy-editor/styles";
.easy-editor-image-center.easy-editor-image-container{
  text-align: center;
}
.easy-editor-image-left.easy-editor-image-container{
  text-align: left;
}
.easy-editor-image-right.easy-editor-image-container{
  text-align: right;
}
.easy-editor-image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  .easy-editor-image{
    width: fit-content;
    position: relative;
    cursor: pointer;
    display: inline-block;
    img{
      max-width: 100%;
    }
    &-full-screen {
      position: absolute;
      top: 10px;
      right: 10px;
      display: none;
      width: 30px;
      height: 30px;
      color: #fff;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 20%);
      border-radius: 4px;
      cursor: pointer;

      > i {
        font-size: 18px;
      }

      &:hover {
        color: styles.$primary-color;
      }
    }

    &:hover{
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 20%);
      transition: all 0.3s;
      .easy-editor-image-full-screen{
        display: block;
      }
    }
    &__resize-handle {
      position: absolute;
      width: 10px;
      height: 10px;
      background: blue;

      &.top-left {
        top: -5px;
        left: -5px;
        cursor: nwse-resize;
      }

      &.top-right {
        top: -5px;
        right: -5px;
        cursor: nesw-resize;
      }

      &.bottom-left {
        bottom: -5px;
        left: -5px;
        cursor: nesw-resize;
      }

      &.bottom-right {
        bottom: -5px;
        right: -5px;
        cursor: nwse-resize;
      }
    }
  }
}
// 图片工具栏
.easy-editor-image-toolbar{
  height: 32px;
  display: flex;
  align-items: center;
  padding: 12px;
  &-item-width-fix{
    width: 32px;
  }
  &-input-item{
    display: flex;
    width: 140px;
  }
  &-item{
    height: 32px;
    text-align: center;
    line-height: 32px;
    &:hover{
      background: #f4f4f4;
      .icon-delete .icon{
        color: styles.$primary-red;
      }
    }
    .icon{
      cursor: pointer;
      color: #000c;
      transition: all .3s;
    }
    &:not(:last-child){
      margin-right: 8px;
    }
  }
}
