@use "~@easy-editor/styles";
.easy-editor-link-panel{
  padding: 16px;
  .submit_row.easy-editor-link-panel__row{
    justify-content: flex-end;
    margin-bottom: 0;
    gap: 8px;
    display: flex;
  }
  &__error{
    color: styles.$primary-red;
    margin-bottom: 8px;
    &__tips{
      font-size: 12px;
    }
  }
  .easy-editor-link-panel__btn__submit.easy-editor-link-panel__btn{
    background: styles.$primary-color;
    border: 1px solid styles.$primary-color;
    color: styles.$primary-white;
    transition: all .3s;
    &:hover{
      background: #4096ff;
    }
  }
  &__btn{
    width: 68px;
    height: 32px;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid styles.$border-color;
    background: styles.$primary-white;
    line-height: 32px;
    text-align: center;
  }
  &__row{
    margin-bottom: 8px;
    &__inner{
      display: flex;
      align-items: flex-start;
    }
    &__label{
      height: 32px;
      line-height: 32px;
      &:after{
        content: ":";
        margin-right: 8px;
      }
    }
    &__input{
      display: block;
      width: 210px;
      box-sizing: border-box;
      padding: 7px 8px;
      height: 32px;
      background: styles.$primary-white;
      border-radius: 3px;
      border: 1px solid styles.$border-color;
      color: inherit;
      outline: 0;
    }
  }
}
