@use "~@easy-editor/styles";
.easy-editor-link-toolbar{
  display: flex;
  padding: 8px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  align-items: center;
  gap: 8px;
  &-icon-edit{
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: styles.$primary-color;
    }
  }
  &-icon-del{
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: styles.$primary-red;
    }
  }
}
