@use "../colors/colors" as styles;
.easy-editor-table{
  &-column-resizer{
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: -1px;
    bottom: -1px;
    width: 2px;
    pointer-events: none;
    background-color: styles.$primary-color;
  }
}

.easy-editor-table-menu{
  background: styles.$primary-white;
  height: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 15%);
  border-radius: 4px;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  &-item{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
    padding: 2px;
    box-sizing: border-box;
    &:hover{
      background: #F2F2F2;
    }
    &:not(:last-child){
      margin-right: 8px;
    }
  }
  .easy-editor-table-icon-delete{
    &:hover{
      color: styles.$primary-red;
    }
  }
}
